.vagrant
dotNetFx40.exe
box_modules
.DS_Store
modules
demo/resources/choco
demo/resources/installers
demo/resources/packages
demo/resources/NetFx4
.librarian
.tmp
Puppetfile.lock
license/
demo/resources/licensed/createpackages/
demo/packages/
demo/resources/ChocolateyGui/
